/*HISTOIRE*/

#histoire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.paragrapheHistoire{
    margin: 5px;
    text-align: center;
}

#ville-historique{
    text-align: center;
    font-size:50px;
    margin:0px;
    margin-top: 40px;
    animation-name: slideInAccueil;
    animation-duration: 3s;
}

#usine-LU, #cathedrale, #chateau {
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    margin: 30px;
    width: 90%;
    text-align: center;
}

#usine-LU {
    animation-name: slideInAccueil;
    animation-duration: 2s;
}

#usineLU-photo {
    border-radius: 15px;
    margin: 5%;
    width: 90%;
    text-align: center;
}

#usine-titre{
    text-align: center;
}

#cathedrale-photo{
    border-radius: 15px;
    margin: 5%;
    width: 90%;
}

#cathedrale-titre{
    text-align: center;
}

#chateau-photo{
    border-radius: 15px;
    margin: 5%;
    width: 90%;
}

#chateau-titre{
    text-align: center;
}

#chateau {
    transition: all 1s;
}

@keyframes slideInAccueil {
    from {
      transform: translate(0, -600px);
    }
    to {
      transform: translate(0px, 0px);
    }
  }
    

@media screen and (min-width: 800px){

    #cathedrale img, #usine-LU img, #chateau img{
        width: 40%;
        height: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }

    #cathedrale{
        display:flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
        width:100%;
        height: 300px;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius:15px;
        margin: 20px auto;
        transition: all 1s;
        background-color: #f9f3f4;
        animation-name: slideInAccueil;
        animation-duration: 2s;
    }

    #histoire{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

    #texte-LU, #texte-chateau, #texte-cathedrale{
        display:flex;
        flex-wrap: wrap;
        width:50%;
        height:auto;        
    }

    #texte-cathedrale{
        margin-left: 60px;
    }

    .paragrapheHistoire{
        text-align: left;
    }

    #usine-LU, #chateau{
        transition: all 1s;
        display:flex;
        align-items: center;
        justify-content:space-around;
        width:100%;
        height: 300px;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius:15px;
        margin: 30px auto;
        background-color: #f9f3f4;
    }
    
    #usine-LU:hover, #chateau:hover, #cathedrale:hover{
        transform: scale(1.1, 1.1);
    }

    #histoire p{
        color: black;
    }
    
    #ville-historique{
        text-align: center;
        font-size:80px;
        margin:0px;
    }

    #chateau {
        transition: all 1s;
    }
          
}