/*HEADER*/

* {
	text-decoration: none;
}

.header {
	background-color: #696969;
	height: 70px;
	width: 100%;
	display: flex;
    animation-name: slideInAccueil;
    animation-duration: 2s;
}

nav {
    width: 100%;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 70px;
    box-shadow: -1px 1px 7px 3px #4e4e4e;
}

#logoWCS {
	margin-left: 25px;
	filter: brightness(0) invert(1);
    width: 50px;
    height: 50px;
    margin: 0;
    padding-left: 20px;
}

i {
	color: white;
}

#nav-ul {
	display: flex;
	align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    padding-right: 20px;
    margin: 0;
    height: 70px;
}

#liheader {
    height: 40px;
    line-height: 40px;
    width: 80px;
    margin: 20px;
    text-align: center;
}


#liheader a {
	display: inline-block;
	color: white;
	font-size: 18px;
    text-decoration: none;
}

#liheader:hover {
	background-color: white;
	border-radius: 10px;
}

#liheader a:hover {
	color: #4e4e4e;
}

.burgerbtn {
	font-size: 30px;
	color: white;
	margin-right: 25px;
	cursor: pointer;
	display: none;
    background-color: transparent;
    border: 0;
}

@media screen and (max-width: 800px) {

	#nav-ul {
		display: none;
        width: 100%;
        flex-direction: column;
        background-color: #696969;
        margin: 0;
        height: auto;
	}


    #nav-ul.show {
        display: flex;
        top: 70px;
        position: absolute;
        animation-name: slideIn;
        animation-duration: 1s;
        padding: 0;
    }

    @keyframes slideIn {
        from {
          transform: translate(-100%, 0px);
        }
        to {
        }
      }

	.burgerbtn {
		display: block;
	}

	.burgerbtn:focus {
		outline: none;
	}

    #accueilcontainer1 {
        background-size: cover;
    }

    
    #img-footer {
        display: flex;
        height: 80px;
        width: 80px;
    }

  }

/*Accueil container*/

#accueilcontainer1 {
    width: 100%;
    height: 95vh;
    background-image: url("https://tourisme-loireatlantique.com/wp-content/uploads/2017/05/nid.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    animation-name: slideInAccueil;
    animation-duration: 2s;
}

#h1-accueil {
    margin: 0;    
    padding: 20px;
    font-size: 90px;
    text-align: center;
    text-shadow: 3px 3px white;
    animation-name: slideInAccueil;
    animation-duration: 2s;
    transition: all 1s;
}

@keyframes slideInAccueil {
    from {
      transform: translate(0, -600px);
    }
    to {
      transform: translate(0px, 0px);
    }
  }

/*Article accueil*/

#articleaccueil {
    width: 80%;
    display: contents;
}

#titrearticleaccueil {
    margin-top: 100px;
    margin-bottom: 50px;
    transition: all 1s;
}

#titrearticleaccueil {
    margin: 0;
    font-size: 80px;
    text-align: center;
}

#titresousarticle {
    margin: 0;
    font-size: 15px;
    text-align: center;
}

#p-articleaccueil {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.blockarticle {
    width: 80%;
    margin: 40px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
    transition: all 1s;
}

.blockarticle:hover, #titrearticleaccueil:hover, #h1-accueil:hover {
    transform: scale(1.1, 1.1);
}


@media screen and (max-width: 800px) {

    #p-articleaccueil {
        text-align: center;
        margin-bottom: 25px;
    }

    #titrearticleaccueil {
        font-size: 30px;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #titresousarticle {
        margin-bottom: 25px;
        font-size: 15px;
        text-align: center;
    }

    .blockarticle {
        width: 70%;
    }

    #h1-accueil {
        font-size: 50px;
    }

    #img-footer {
        width: 90px;
        height: 90px;
    }
}

/* Slide desktop */

  .container {
    width: 80%;   
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    transition: all 1s;
  }
 
  .container:hover {
    transform:scale(1.1,1.1);
  }
  
  .slider img {
    height: 300px;
    width: 100%;
    display: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 10px 10px 0 0;
  }

  img.active {
    display: block;
    animation: fade 0.8s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cont-btn {
    max-width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
  }

  .btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
  }

  @media screen and (min-width: 800px){
      .slider img{
          height: 500px;
      }
  }
  
/* FOOTER */

body{ 
    width: 100%;
    height: auto;
    background-color: #f9f3f4;
    margin: auto;
    font-family: sans-serif;
    font-family: oswald;
    letter-spacing: 1px;
}

p {
    letter-spacing: 0.5px;
}

li {
    list-style-type: none;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: #696969;  
    box-shadow: -1px 1px 7px 3px #696969; 
}

#logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    align-items: center;
}

#img-footer {
    width: 90px;
    height: 90px;
}


#contact-footer h3 li{
    text-align: center;   
}

#partenaire-footer {
    margin-right: 20px;

} 
#contact-footer li {    
    justify-content: center;    
}  
#contact-footer{
    width: 40%;
}

i {
    color: white;
}

#contact-footer, #logo-footer, #partenaire-footer {
    width: 30%;
    text-align: center;
}

#contact-footer p {
    margin: 0;
}

#img-footer {
    display: flex;
    filter: brightness(0) invert(1);
}

