/* FOOTER */

body{ 
    width: 100%;
    height: auto;
    background-color:white;
    margin: auto;
    font-family: oswald;
    letter-spacing: 1px;
}

p {
    letter-spacing: 0.5px;
}

#img-footer{
    width: 4.375em;
    height: 4.375em;
}

li {
    list-style-type: none;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: grey;   
}

#logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    align-items: center;
}

#img-footer {
    width: 140px;
    height: 140px;
}


#contact-footer h3 li{
    text-align: center;   
}

#partenaire-footer {
    margin-right: 20px;

} 
#contact-footer li {    
    justify-content: center;    
}  
#contact-footer, #logo-footer, #partenaire-footer {
    width: 30%;
    text-align: center;
}

#contact-footer p {
    margin: 0;
}

#img-footer {
    display: flex;
    filter: brightness(0) invert(1);
}

/*HEADER*/

* {
	text-decoration: none;
}

.header {
	background-color: #696969;
	height: 70px;
	width: 100%;
	display: flex;
}

nav {
    width: 100%;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 70px;

}

#logoWCS {
	margin-left: 25px;
	filter: brightness(0) invert(1);
    width: 50px;
    height: 50px;
    margin: 0;
    padding-left: 20px;
}

i {
	color: white;
}

#nav-ul {
	display: flex;
	align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    padding-right: 20px;
    margin: 0;
    height: 70px;
}

#liheader {
    height: 40px;
    line-height: 40px;
    width: 80px;
    margin: 20px;
    text-align: center;
}


#liheader a {
	display: inline-block;
	color: white;
	font-size: 18px;
    text-decoration: none;
}

#liheader:hover {
	background-color: white;
	border-radius: 10px;
}

#liheader a:hover {
	color: #4e4e4e;
}

.burgerbtn {
	font-size: 20px;
	color: white;
	margin-right: 25px;
	cursor: pointer;
	display: none;
    background-color: transparent;
    border: 0;
}

@media screen and (max-width: 800px) {

	#nav-ul {
		display: none;
        width: 100%;
        flex-direction: column;
        background-color: #696969;
        margin: 0;
        height: auto;
	}

    #nav-ul.show {
        display: flex;
        position: absolute;
        top: 70px;
        padding: 0;
    }


	.burgerbtn {
		display: block;
	}

	.burgerbtn:focus {
		outline: none;
	}

    #accueilcontainer1 {
        background-size: cover;
    }
  }

/*Accueil container*/

#accueilcontainer1 {
    width: 100%;
    height: 95vh;
    background-image: url("nidnantes.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px white;
}

/*Article accueil*/

#articleaccueil {
    width: 80%;
    display: contents;
}

#titrearticleaccueil {
    margin-top: 100px;
    margin-bottom: 50px;
}

#p-articleaccueil {
    text-align: center;
    padding: 0 150px;
    margin-bottom: 100px;
}

@media screen and (max-width: 800px) {

    #p-articleaccueil {
        text-align: center;
        padding: 0 80px;
        margin-bottom: 100px;
    }
}

